<div class="col-lg-6">
    <div  class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title" align="center">Convert :  inch/kg into feet/lbs</h1>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>Height : &ensp;<input class="input-sm" type="number" name="height" id="ht" style="width:45%" ng-model="hgt">&nbsp&nbsp in inch</th>
                </tr><tr>
                <th>Weight : &ensp;<input class="input-sm" type="number" name="weight" id="wt" style="width:45%" ng-model="wgt">&nbsp&nbsp in kg</th>
            </tr></table>
            <!--  <p align="center"><button type="button" class="btn btn-success" id="bmi">Calculate</button></p> -->
        </div>
        <div class="panel-footer panel-primary " >
            Height: <input class="input-sm" value="{{(hgt)/12| number:2}}" size="5" disabled>&ensp;feet&ensp;&ensp;&ensp;&ensp;
            Weight: <input class="input-sm" value="{{wgt*2.20462 | number:2}}" size="5" disabled>&ensp;lbs
        </div>
    </div>
</div>
<div class="col-lg-6 ">
    <div class="panel panel-primary ">
        <div class="panel-heading">
            <h1 class="panel-title" align="center">Convert : feet/lbs into meter/kg</h1>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>Height :&ensp; <input class="input-sm" type="number" id="heightFeet" style="width:45%" ng-model="hFeet">&nbsp;in feet</th>
                    <!--      <th><input type="number" id="heightMeter" style="width:45%" ng-model="hInch">&nbsp; inch</th>-->
                </tr><tr>
                <th>Weight :&ensp; <input class="input-sm" type="number" id="weightPound" style="width:45%" ng-model="wLbs">&nbsp;in lbs
            </tr>
            </table>
            <!--   <p align="center"><button type="button" class="btn btn-success" id="calc">Calculate</button></p> -->
        </div>
        <div class="panel-footer panel-primary ">
            Height : <input class="input-sm" value="{{(hFeet*0.3048) | number:2}}" size="4" disabled>&ensp;meter&ensp;&ensp;&ensp;&ensp;
            Weight : <input class="input-sm" value="{{(wLbs*0.453592) | number:2}}" size="4" disabled>&ensp;kg
        </div>
    </div>
</div>